body {
  background-color: #555555;
  padding: 0px;
  margin: 0px;
  width:1885px;
}
header {
  width: justify;
  height: 150px;
}
#logo {
  margin-left: 300px;
  margin-top: 30px;
  margin-right: 20px;
/*  width: 200px;
  height: 100px;*/
  padding: 90px;
  padding-top: 43px;
  padding-bottom: 43px;
  background-color: #cccccc;
  float: left;

}
  #logo p{
    margin:auto;
  }
ul {
  float: left;
  background-color: #cccccc;
  margin-top: 100px;
  /*text-align: left;*/
  margin-right: 300px;
  width: 1045px;
  padding: 3px;
}
ul li {
  /*display: inline;*/
  float: left;
  padding:20px;
  padding-top: 5px;
  padding-bottom:5px;
  list-style: none;
  border-left: 2px solid #000000;
}
ul li a {
  margin: 5px;
  text-decoration: none;
}
li:first-child {
  border: none;
}

li ul{
  display:none;
  margin:0px;
  padding: 0px
}
ul li a:hover {
  color:#ff0000;
}
li:hover ul{
  display:block;
  position:absolute;
  width: 120px;
  margin-left:-20px;
}
ul li ul li{
  border-left: none;
  width:80px;
  float:none;
  margin-top: 10px;
  margin-bottom: 10px;
}
ul li ul li a {
  padding: 5px 10px 0px 0px;
}
ul li ul li:hover{
  background-color: green;
}
#main {
  width: 100%;
  height: 1000px;
  background-color: #cccccc;
  margin-top:10px;
  clear: both;
  margin-bottom: 100px;
  }
  #top{
  margin-left: 100px;
  margin-right: 100px;
/*  background-color: #904060;*/
  height: 500px;
  border-bottom: 2px solid black;
  }
    #t_b {
    background-color: #662299;
    width:250px;
    height: 400px;

    margin-left:200px;
    margin-top: 50px;
    float:left;
    }
      #t_b_1{
        padding: 160px;
        padding-right: 120px;
        padding-left: 120px;
      background-color: aqua;
      }
      #t_b_2{
        padding: 40px;
        padding-right: 120px;
        padding-left: 120px;
      background-color: #ffffff;
      border-bottom:   2px solid black;
      }
    #t_b2{
    background-color: #662299;
    width:250px;
    height: 400px;
    margin-left:100px;
    margin-top: 50px;
    float:left;
    }
      #t_b2_1{
        padding: 160px;
        padding-right: 120px;
        padding-left: 120px;
      background-color: #00dddd;
      }
      #t_b2_2{
        padding: 40px;
        padding-right: 120px;
        padding-left: 120px;
      background-color: #ffffff;
      }
    #t_g {
    background-color: #662299;
    width:600px;
    height: 400px;
    margin-left:85px;
    margin-right: 200px;
    margin-top: 50px;
    float:left;
    }
      #t_g_1{
        padding: 160px;
        padding-right: 300px;
        padding-left: 300px;
      background-color: #00ff00;
      border-right: solid 2px #444444;
      }
      #t_g_2{
        padding: 40px;
        padding-right: 300px;
        padding-left: 300px;
      background-color: #ffffff;
      border-bottom: solid 2px #444444;
      border-right: solid 2px #444444;
      }
  #bot {
    margin-left: 100px;
    margin-right: 100px;
  /*  background-color: #904060;*/
    height:500px;
    padding: 0px;
  }
    .b1-3{
      width: 400px;
    /*  background-color: #b3b3b3;*/
      border: solid 1px black;
      height: 300px;
      float:left;
      margin: 15px;
      margin-top: 60px;
      margin-top
      align-content: center;

    }
    .b1-3:first-child{
      margin-left: 200px;
    }
    .b1-3:last-child{
      margin-right: 200px;
    }
      #b_1_1 {
        width: 120px;
        height: 120px;
        background-color: #00dd00;
        float: left;
      }
      #b_1_2{
        width: 120px;
        height: 120px;
        background-color: #007700;
        float: left;
        margin-left:-50px;
        margin-top: 70px;
      }
      #b_1_3{
        width: 120px;
        height: 120px;
        background-color: #00dddd;
        float: left;
        margin-left:-50px;

      }
      #b_1_4{
        width: 120px;
        height: 120px;
        background-color: #000077;
        float: left;
        margin-left:-50px;
        margin-top: 70px;
      }
      #b_2_1{
        width: 120px;
        height: 120px;
        background-color: #000077;
        float: left;
        margin-top: 180px;
        z-index: 3;
      }
      #b_2_2{
        width: 120px;
        height: 120px;
        background-color: #775500;
        float: left;
        margin-left: -50px;
        margin-top: 110px;
        z-index: 2;
      }
      #b_2_3{
        width: 120px;
        height: 120px;
        background-color: #ff6600;
        float: left;
        margin-left: -50px;
        margin-top: 50px;
        z-index: 1;
      }
      #b_3_1{
        width: 120px;
        height: 120px;
        background-color: #ff6600;
        float: left;
        margin: 20px;
        border-radius:10px;
      }
      #b_3_2{
        width: 120px;
        height: 120px;
        background-color: #ff6600;
        float: left;
        margin: 20px;
        border-radius:60px;
      }
      #b_3_3{
        width: 120px;
        height: 120px;
        background-color: #ff6600;
        float: left;
        margin: 10px;
        margin-left: 20px;
        border-radius:20px;
      }
      #b_3_4{width: 120px;
        height: 120px;
        background-color: #ff6600;
        float: left;
        margin: 10px;
        margin-left: 30px;
        border-radius:40px;
      }
